<!doctype html>
<title>search map</title>
<p></p>
<form action="/add" method="post">
名字
 <input type="textbox" name="name" value="vincent" />
<br>
電話
  <input type="textbox" name="phone" value="0938251413" />
<br>
地址
<input type="textbox" name="addr" value="台北市中山區林森北路" />
<br>
坪數
<input type="textbox" name="size" value="32" />
<br>
金額
<input type="textbox" name="price" value="30000" />
<br>
樓層
<input type="textbox" name="floor" value="1" />
<br>

 <input type="submit" name ="submit" value="submit" />

</form>

